/* common class */
.blind {
  position: absolute;
  top: 0;
  left: -99999px;
  text-indent: -99999px;
  width: 1px;
  height: 1px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

.section__title{
	font-size: 3.6em;
	font-weight: 700;
	color: #fff;
	-webkit-text-stroke: 1px #000;
	position: -webkit-sticky;
	position: sticky;
	top: 40px;
}

.flex{
	display: flex;
}
.flex-center{
	display: flex;
	align-items: center;
}

/* btn__close */
.btn__close{
	position: absolute; 
	width: 24px;
	height: 24px;
}
.btn__close .btn__close-icon {
  position: relative;
  height: 100%;
}
.btn__close .btn__close-icon .btn__close-bar {
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #222;
}
.btn__close .btn__close-icon .btn__close-bar:first-child{
	top: 3px;
	left: 4px;
}
.btn__close .btn__close-icon .btn__close-bar:last-child{
	top: 4px;
	left: 22px;
}
.nav .btn__close{
	top: 40px;
	right: 40px;
	width: 26px;
	height: 24px;
}