@keyframes navBarTopAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stretch100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* wrapper */
.wrapper{
	position: relative;
	padding: 40px;
	box-sizing: border-box;
}

/* header */
.header{
	position: fixed;
	top: 40px;
	right: 40px;
	z-index: 300;
}
.header .btn__nav{
	width: 26px;
	height: 24px;
}
.header .btn__nav-icon {
  position: relative;
  height: 100%;
}
.header .btn__nav-icon .btn__nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #222;
  transition: all 0.5s;
}
.header .btn__nav-icon .btn__nav-bar:first-child {
  top: 7px;
}
.header .btn__nav-icon .btn__nav-bar:last-child {
  top: 16px;
}

.header .btn__nav:hover .btn__nav-icon .btn__nav-bar:first-child {
  animation: navBarTopAni 0.6s;
}

.logo {
  font-family: 'Galada'; 
	font-size: 2em;
}





/* navigation */
.nav {
	display: none;
}
.nav.nav--show{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 680px;
	padding: 32px;
	background-color: #fff;
	box-shadow: -2px 0 15px rgba(136, 136, 136, .2);
	box-shadow: border-box;
	z-index: 500;
}

.nav .logo{
	position: fixed;
	top: 40px;
	left: 40px;
}
.nav
  .btn__close
  .btn__close-icon
  .btn__close-bar:first-child {
  transform-origin: top left;
  transform: rotate(45deg);
	opacity: 0;
}
.nav
  .btn__close
  .btn__close-icon
  .btn__close-bar:last-child {
	transform-origin: top left;
	transform: rotate(135deg);
	opacity: 0;
}

.nav.nav--show .btn__close .btn__close-bar:first-child{
	animation: fadeIn 0.6s;
	animation: stretch100 0.6s;
	opacity: 1;
}
.nav.nav--show .btn__close .btn__close-bar:last-child{
	animation: fadeIn 0.6s 0.6s;
	animation: stretch100 0.6s 0.6s;
	opacity: 1;
}

/* section__my */
.section__my{
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center
}
.my__pic{
	background: url(../images/avatar.png) no-repeat center/cover;
}
.my__pic,
.my__greeting{
	width: 400px;
	height: 400px;
}
.my__greeting{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2.4rem;
}
.my__greeting{
	cursor: url(../images/waving-hand.cur), default
}

/* skills */
.skills-list{
	display: flex;
}
.skills-list__item {
	margin-right: 4em;
	font-size: 2em;
	font-weight: 400;
}

/* project */


/* footer */
.footer{
	box-sizing: border-box;
	padding: 40px;
	background-color: #222;
	color: #fff;
}
.footer .footer__links {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.footer .footer__links li {
  padding-right: 16px;
}
.footer .footer__copyright {
  font-size: 0.8rem;
  opacity: 0.8;
}


@media (max-width: 768px) {
	
	/* footer */

	.footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
	}
	.footer .footer__links{
		margin-bottom: 0;
	}
	.footer .footer__copyright{
		color: #383e56;
		opacity: 1;
		font-size: 0.6rem;
	}
}