@keyframes navBarTopAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}


/* header */
.header{
	position: fixed;
	top: 64px;
	left: 160px;
	z-index: 300;
}
.header .btn__nav{
	width: 26px;
	height: 24px;
}
.header .btn__nav-icon {
  position: relative;
  height: 100%;
}
.header .btn__nav-icon .btn__nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #222;
  transition: all 0.5s;
}
.header .btn__nav-icon .btn__nav-bar:first-child {
  top: 7px;
}
.header .btn__nav-icon .btn__nav-bar:last-child {
  top: 16px;
}

.header .btn__nav:hover .btn__nav-icon .btn__nav-bar:first-child {
  animation: navBarTopAni 0.6s;
}

.logo {
	position: sticky;
	top: 48px;
  font-family: 'Galada'; 
	font-size: 2em;
	margin-right: 160px;
	text-align: right;
	z-index: 300;
}

/* navigation */
.nav {
	display: none;
}
.nav.nav--show{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 680px;
	padding: 32px;
	background-color: #fff;
	box-shadow: -2px 0 15px rgba(136, 136, 136, .2);
	box-shadow: border-box;
	z-index: 500;
}

.nav .logo{
	position: fixed;
	top: 40px;
	left: 40px;
}
.nav
  .btn__close
  .btn__close-icon
  .btn__close-bar:first-child {
  transform-origin: top left;
  transform: rotate(45deg);
	opacity: 0;
}
.nav
  .btn__close
  .btn__close-icon
  .btn__close-bar:last-child {
	transform-origin: top left;
	transform: rotate(135deg);
	opacity: 0;
}

.nav.nav--show .btn__close .btn__close-bar:first-child{
	animation: fadeIn 0.6s;
	animation: stretch100 0.6s;
	opacity: 1;
}
.nav.nav--show .btn__close .btn__close-bar:last-child{
	animation: fadeIn 0.6s 0.6s;
	animation: stretch100 0.6s 0.6s;
	opacity: 1;
}

/* section */
/* .section article{
	height: 100vh
} */
.section-wrap section + section{
	margin-top: 144px;
}

section .section__cnt{
	min-height: calc(100vh - 124px);
	display: flex;
	justify-content: center;
}

/* section__my */
.section-wrap .section__my{
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: url(../images/waving-hand.cur), default
}
.my__pic,
.my__greeting{
	width: 400px;
	height: 400px;
}
.my__pic{
	background: url(../images/avatar1.png) no-repeat center/cover;
	transition: background 0.4s;
}
.my__pic:hover{
	background-image: url("../images/avatar3.png")
}
.my__greeting{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2.4rem;
}

/* project */
.scroll__images{
	position: sticky;
	top: 0;
	height: 100vh;
}
.project__image{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s opacity;
	will-change: opacity;
	position: absolute;
	right: 80px;
	top: 10vh;
	width: 700px;
	height: 520px;
	border-radius: 16px;
}
.project__image:first-child{
	justify-content:flex-start
}
.project__image.visible{
	opacity: 1;
}
.project__image > img{
	max-height: 100vh;
	height:100%;
}
.scroll__text{
	position: relative;
	padding: 0 160px 1px;
}
.project__desc {
	max-width: 50%;
	box-sizing: border-box;
	margin-bottom: 60vh;
}
.project__list-desc{
	margin: 24px 0;
}
.project__list-desc strong{
	display: block;
	font-size: 36px;
	padding-bottom: 8px;
}
.project__list-lang{
	color: #999;
	font-size: 14px;
}
.project__list-link{
	font-size: 14px;
	margin-top: 16px;
}
.project__list-link a + a{
	margin-left: 12px;
}

/* skills */
.section__skills .section__title{
	position: relative;
}
.section__skills .section__cnt{
	align-items: center;
	min-height: calc(100vh - 124px - 101px)
}
.skills__list-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 64vw;
}
.skills__list-box + .skills__list-box {
	margin-top: 64px;
}

.skill__item{
	position: relative;
	width: 140px;
	height: 200px;
	transform-style: preserve-3d;
	transition: 0.6s transform;
}
.skill__item.move-up:hover{
	transform: translateY(-24px);
}
.skill__item.turn-over:hover{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.skill__item-group{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 14px;
	background-color: #fff;
	backface-visibility: hidden;
	box-shadow: rgba(120,120,120,0.3) 0 4px 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill__item-group.skill--back{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.skill__item-group .inner-border{
	width: 130px;
	height: 190px;
	border-radius: 12px;
	background-color: #ddd;
  
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill__item-group.skill--back .inner-border{
	flex-direction: column;
	font-weight: bold;
	background-color: #fff;
	border: 2px solid #ddd;
	width: 126px;
	height: 186px;
}
.skill__item .inner-area{
	width: 110px;
	height: 170px;
	background-color: #eee;
  background-image: linear-gradient(115deg, transparent 75%, #fff 75%), linear-gradient(245deg, transparent 75%, #fff 75%), linear-gradient(115deg, transparent 75%, #fff 75%), linear-gradient(245deg, transparent 75%, #fff 75%);
  background-position: 0 0, 0 0, 5px -10px, 5px -10px;
  background-size: 10px 20px;
	border: 2px solid #fff;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.skill__item .mark-wrap{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
}
.skill__item .skill__item-mark{
	width: 42px;
}
.skill__item .skill__item-num{
	font-size: 0.85em;
	font-weight: 700;
}


@media (max-width: 1400px) and (min-width: 1200px) {
	.project__img{
		width: 50vh;
	}
}


@media (max-width: 1200px) {
	.header{
		top: 48px;
		right: 96px;
	}

	.logo{
		top: 18px;
		margin-right: 0;
		text-align: center;
	}

	.section article:before{
		margin-left: -96px;
	}
	.section__project .section__cnt{
		align-items:flex-start;
		overflow-y: auto;
	}
	.project__list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 48px;
		width: 100%;
		margin-top: 48px;
	}
	.project__list-box{
		height: auto;
	}
	.project__list-items{
		flex-direction: column-reverse;
	}
	.project__desc{
		max-width: none;
		width: 100%;
		margin-top: 24px;
		text-align: center;
	}
	.project__list-desc{
		margin: 0 0 12px;
	}
	.project__list-desc strong{
		font-size: 26px;
		padding-bottom: 4px;
	}
	.project__list-link{
		margin-top: 10px;
	}
	.project__image{
		height: 300px;
		width: 500px;
		top: 72px;
		right: 50%;
		transform: translateX(50%)
	}
}

@media (max-width: 960px) {
	.skills__list{
		width: 100%;
	}
	.skills__list-box{
		width: 100%;
	}
}

@media (max-width: 768px) {
	
}