@keyframes navBarTopAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}


/* header */
.header{
	position: fixed;
	top: 64px;
	right: 160px;
	z-index: 300;
}
.header .btn__nav{
	width: 26px;
	height: 24px;
}
.header .btn__nav-icon {
  position: relative;
  height: 100%;
}
.header .btn__nav-icon .btn__nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #222;
  transition: all 0.5s;
}
.header .btn__nav-icon .btn__nav-bar:first-child {
  top: 7px;
}
.header .btn__nav-icon .btn__nav-bar:last-child {
  top: 16px;
}

.header .btn__nav:hover .btn__nav-icon .btn__nav-bar:first-child {
  animation: navBarTopAni 0.6s;
}

.logo {
  font-family: 'Galada'; 
	font-size: 2.6em;
	margin: 64px 0 0 160px; 
}

/* navigation */
.nav {
	display: none;
}
.nav.nav--show{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 680px;
	padding: 32px;
	background-color: #fff;
	box-shadow: -2px 0 15px rgba(136, 136, 136, .2);
	box-shadow: border-box;
	z-index: 500;
}

.nav .logo{
	position: fixed;
	top: 40px;
	left: 40px;
}
.nav
  .btn__close
  .btn__close-icon
  .btn__close-bar:first-child {
  transform-origin: top left;
  transform: rotate(45deg);
	opacity: 0;
}
.nav
  .btn__close
  .btn__close-icon
  .btn__close-bar:last-child {
	transform-origin: top left;
	transform: rotate(135deg);
	opacity: 0;
}

.nav.nav--show .btn__close .btn__close-bar:first-child{
	animation: fadeIn 0.6s;
	animation: stretch100 0.6s;
	opacity: 1;
}
.nav.nav--show .btn__close .btn__close-bar:last-child{
	animation: fadeIn 0.6s 0.6s;
	animation: stretch100 0.6s 0.6s;
	opacity: 1;
}

/* section */
/* .section article{
	height: 100vh
} */
.section-wrap section + section{
	margin-top: 144px;
}

section .section__cnt{
	min-height: calc(100vh - 124px);
	display: flex;
	justify-content: center;
}

/* section__my */
.section-wrap .section__my{
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: url(../images/waving-hand.cur), default
}
.my__pic,
.my__greeting{
	width: 400px;
	height: 400px;
}
.my__pic{
	background: url(../images/avatar1.png) no-repeat center/cover;
	transition: background 0.4s;
}
.my__pic:hover{
	background-image: url("../images/avatar3.png")
}
.my__greeting{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2.4rem;
}

/* project */
.scroll__images{
	position: sticky;
	top: 0;
	height: 100vh;
}
.project__image{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s opacity;
	will-change: opacity;
	position: absolute;
	right: 80px;
	top: 10vh;
	width: 700px;
	height: 520px;
	border-radius: 24px;
}
.project__image:first-child{
	justify-content:flex-start
}
.project__image.visible{
	opacity: 1;
}
.project__image > img{
	max-height: 100vh;
	height:100%;
}
.scroll__text{
	position: relative;
	padding: 0 160px 1px;
}
.project__desc {
	max-width: 50%;
	box-sizing: border-box;
	margin-bottom: 60vh;
}
.project__list-desc{
	margin: 24px 0;
}
.project__list-desc strong{
	display: block;
	font-size: 36px;
	padding-bottom: 8px;
}
.project__list-lang{
	color: #999;
	font-size: 14px;
}
.project__list-link{
	font-size: 14px;
	margin-top: 16px;
}
.project__list-link a + a{
	margin-left: 12px;
}

/* project - v1*/

/* image gradient mask effect
 .project__list-box{
	background-color: #000;
}
.project__list-items{
	height: 100vh;
	background-image: url("../images/project-genesis.jpg");
	-webkit-mask-image: -webkit-gradient(linear, right center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.5)));
} */

/* 
.section-wrap .section__project:before{
	content: "";
	position: sticky;
	display: block;
	top: 0;
	width: 40vw;
	height: 164px;
	margin-left: -160px;
	backdrop-filter: blur(10px);
	z-index: 80;
}
.section-wrap .section__project{
	position: relative;
	height: 100%;
}
.section__project .section__cnt{
	flex-direction: column;
}
.project__list{
	width: 100%;
}
.project__list-box{
	height: 100vh;
}
.project__list-items{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.project__desc{
	max-width: 50%;
	box-sizing: border-box;
}
.project__list-desc{
	margin: 24px 0;
}
.project__list-desc strong{
	display: block;
	font-size: 36px;
	padding-bottom: 8px;
}
.project__list-lang{
	color: #999;
	font-size: 14px;
}
.project__list-link{
	font-size: 14px;
	margin-top: 16px;
}
.project__list-link a + a{
	margin-left: 12px;
}
.project__img{
	height: 72vh;
	width: 60vh;
	overflow: hidden;
	background-color: #999;
}
.project__img img{
	height: 100%;
	width: auto;
}
.project__dive .project__img img{
	margin-left: -80%;
}
.project__kt .project__img img{
	margin-left: -38%;
}

.project__list--horizontal{
	overflow-x: auto;
	display: flex;
}
.project__list--horizontal .project__desc{
	text-align: center;
}
.project__list--horizontal .project__list-items{
	height: 100%;
	flex-direction: column;
	justify-content: center;
}
.project__list--horizontal .project__list-box{
	width: 25vw;
	background-color: #fff;
}
 */

/* skills */
.section__skills .section__title{
	position: relative;
}
.section__skills .section__cnt{
	align-items: center;
	min-height: calc(100vh - 124px - 101px)
}
.skills__list-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 64vw;
}
.skills__list-box + .skills__list-box {
	margin-top: 64px;
}

.skill__item{
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #fff;
}
.skill__item > img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 72px;
	height: auto;
	transform: translate(-50%, -50%)
}
.skill__item .skill__item-num{
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.skill__item:hover .skill__item-mark{
	opacity: 0;
}
.skill__item:hover .skill__item-num{
	opacity: 1;
}

.skill__item-group{
	opacity: 0;
	position: absolute;
	bottom: -40px;
	width: 300%;
	transition: opacity 0.6s;
}
.skill__item-group p{
	text-align: center;
}
.skill__item:hover .skill__item-group {
	opacity: 1;
} 


@media (max-width: 1400px) and (min-width: 1200px) {
	.project__img{
		width: 50vh;
	}
}

@media (max-width: 1200px) {
	.wrapper{
		padding: 48px 96px;
	}
	.header{
		top: 48px;
		right: 96px;
	}

	.section article:before{
		margin-left: -96px;
	}
	.section__project .section__cnt{
		align-items:flex-start;
		overflow-y: auto;
	}
	.project__list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 48px;
		width: 100%;
		margin-top: 48px;
	}
	.project__list-box{
		height: auto;
	}
	.project__list-items{
		flex-direction: column-reverse;
	}
	.project__desc{
		max-width: none;
		width: 100%;
		margin-top: 24px;
		text-align: center;
	}
	.project__list-desc{
		margin: 0 0 12px;
	}
	.project__list-desc strong{
		font-size: 26px;
		padding-bottom: 4px;
	}
	.project__list-link{
		margin-top: 10px;
	}
	.project__img{
		width: 100%;
		height: 360px;
		border-radius: 24px;
	}
}

@media (max-width: 960px) {
	.skills__list{
		width: 100%;
	}
	.skills__list-box{
		width: 100%;
	}
}

@media (max-width: 768px) {
	
	/* footer */
	.footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
	}
	.footer .footer__links{
		margin-bottom: 0;
	}
	.footer .footer__copyright{
		color: #383e56;
		opacity: 1;
		font-size: 0.6rem;
	}
}