@import url('https://fonts.googleapis.com/css2?family=Galada&family=Yellowtail&family=Noto+Sans+KR:wght@300;400;700&family=Open+Sans:wght@400;700&family=Courgette&display=swap');


/* tag reset */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Noto Sans KR', 'Open Sans', sans-serif, 'Malgun Gothic', '맑은 고딕';
  color: #5c6bc0;
	background-color: #5c6bc0;
	width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
ul {
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background: none;
  outline: none;
}
img {
  vertical-align: middle;
  height: auto;
}
em {
	font-style: normal;
}