@charset "UTF-8";
@import './common.css';

@keyframes navBarTopAni {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes navBarBtmAni {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}

/* skip navigation*/
#skip, 
#skip a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    z-index: 1000;
}
#skip a:focus{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
    background: red;
    color: #fff;
    font-weight: bold;
}

/* wrapper */
.wrapper{
    padding: 80px 24px 0 24px;
}

/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255,255,255,.9);
    box-shadow: 0 30px 60px -60px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.15), 0 -12px 36px -8px rgba(0,0,0,.025);
    z-index: 500;
}
.header .header__logo{
    order: 2;
    font-family: 'Galada';
}
.header .header__sub-title{
    display: none;
}
.header .header__sub-title.on{
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.7rem;
    opacity: .8;
}
.header .header__navigation{
    order: 1;
    width: 26px;
    height: 18px;
    /* background: red; */
}
.header .header__navigation .btn__nav{
    width: 100%;
    height: 100%;
}
.header .header__navigation .btn__nav-icon{
    position: relative;
    display: block;
    height: 100%;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar{
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #333;
    transition: all .5s;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(1){
    top: 0;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(2){
    top: 8px;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(3){
    top: 16px;
}

.header .header__navigation:hover .btn__nav-icon .btn__nav-bar:nth-child(1) {
    animation: navBarTopAni .6s;
}
.header .header__navigation:hover .btn__nav-icon .btn__nav-bar:nth-child(3) {
    animation: navBarBtmAni .6s ;
}

.header .header__navigation .btn__nav.active .btn__nav-icon .btn__nav-bar:nth-child(1){
    transform-origin: top left;
    transform: translateY(-1px) rotate(45deg);
}
.header .header__navigation .btn__nav.active .btn__nav-icon .btn__nav-bar:nth-child(2){
    opacity: 0;
}
.header .header__navigation .btn__nav.active .btn__nav-icon .btn__nav-bar:nth-child(3){
    transform-origin: bottom left;
    transform: translateY(1px) rotate(-45deg)
}

.header .header__email{
    order: 3;
}
.header .header__email .fas{
    font-size: 24px;
}
.header .header__email .fa-envelope-open-text{
    display: none;
}
.header .header__email:hover .fa-envelope-open-text{
    display: block;
}
.header .header__email:hover .fa-envelope{
    display: none;   
}

/* section common */
#section{
    position: relative;
    height: calc(100vh - 80px - 48px);
}
/* #section article{
    position: absolute;
} */
#section article{
    display: flex;
    align-items: center;
    height: 100%;
}

/* greetings */
#section .section__greetings{
    /* display: none; */
    font-family: 'Nanum Myeongjo';
    justify-content: space-between;
}
.section__greetings .section__greetings-list .section__greetings-btn .btn__phone{
    display: none;
    /* mobile에서만 보이게 */
}

/* skills */
#section .section__skills{
    flex-direction: column;
    justify-content: center;
}
.section__skills .section__skills-group{
    width: 50%;
}
.section__skills .section__skills-group .skills__title{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-bottom: .5rem;
}
.section__skills .section__skills-group .skills__ability {
    display: flex;
}
.section__skills .section__skills-group .skills__ability .skills__ability-bars {
    position: relative;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    background-image: linear-gradient(to right, #cc2b5e, #753a88);
}
.section__skills .section__skills-group .skills__ability .skills__ability-bars:after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 1px;
    top: 1px;
    background: #fff;
}
.section__skills .section__skills-group .skills__ability .skills__ability-bars.bars--on:after{
    background: transparent
}

/* project */
#section .section__project{
    overflow: auto;
}
.section__project .project__list{
    display: flex;
    flex-wrap: nowrap;
}
.section__project .project__list .project__list-items{
    width: 40vw;
    margin: 0 4em;
}
.section__project .project__list .project__list-title {
    padding-top: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-bottom: .5rem;
}
.section__project .project__list .project__list-items:nth-child(2n) .project__list-title {
    padding-top: 0;
}
.section__project .project__list .project__list-lang{
    font-weight: bold;
    margin: .5rem 0;
}
.section__project .project__list .project__list-link .link{
    font-size: .8rem;
    text-decoration: underline;
}
.section__project .project__list .project__list-link .link__github{
    margin-left: 8px;
    position: relative;
}
.section__project .project__list .project__list-link .link__github:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 14px;
    left: -6px;
    top: 1px;
    background: #888;
}

/* #section .section__project{
    flex-direction: column;
    justify-content: flex-start;
}
.section__project .section-title{
    align-self: flex-start;
}
.section__project .project__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 46vh;
    margin-top: 36px;
}
.section__project .project__list .project__list-items {
    border-radius: 8px;
    box-sizing: border-box;
    width: 30vw;
    height: 100%;
    padding: 16px;
    margin: 0 16px;
    box-shadow: -1px -1px 4px #e4e4e4,4px 0px 22px #bbb, inset -5px -5px 18px #ddd, inset 5px 5px 4px #fff;
}
.section__project .project__list .project__list-title {
    padding-top: 60%;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-bottom: .5rem;
}
.section__project .project__list .project__list-lang{
    font-weight: bold;
    margin: .5rem 0;
}
.section__project .project__list .project__list-link .link{
    font-size: .8rem;
    text-decoration: underline;
}
.section__project .project__list .project__list-link .link__github{
    margin-left: 8px;
    position: relative;
}
.section__project .project__list .project__list-link .link__github:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 14px;
    left: -6px;
    top: 1px;
    background: #888;
}
 */
/* footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .8rem;
    opacity: .5;
    background-color: #fff;
}
