@charset "UTF-8";
@import './common.css';

@keyframes navBarTopAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navBarBtmAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes skillsAni80 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes skillsAni70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes skillsAni60 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes skillsTxtAni80 {
  0% {
    left: 0;
  }
  100% {
    left: 80%;
  }
}
@keyframes skillsTxtAni70 {
  0% {
    left: 0;
  }
  100% {
    left: 70%;
  }
}
@keyframes skillsTxtAni60 {
  0% {
    left: 0;
  }
  100% {
    left: 60%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* color
#383e56
#f69e7b
#eedad1
#d4b5b0
*/

/* skip navigation*/
#skip,
#skip a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  z-index: 1000;
}
#skip a:focus {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
  background: #f69e7b;
  color: #383e56;
  font-weight: bold;
  outline: none;
}

/* wrapper */
.wrapper {
  overflow: hidden;
  color: #eedad1;
  position: relative;
}
.wrapper:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 68vw;
  background-color: #fff;
  z-index: -1;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 24px;
  z-index: 500;
}
.header .header__logo {
  font-family: 'Galada';
  color: #eedad1;
}
.header .header__sub-title {
  display: none;
}
.header .header__sub-title.on {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 1.7rem;
  opacity: 0.8;
}
.header .header__navigation {
  width: 26px;
  height: 18px;
  /* background: red; */
}
.header .header__navigation .btn__nav {
  width: 100%;
  height: 100%;
}
.header .header__navigation .btn__nav-icon {
  position: relative;
  display: block;
  height: 100%;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #383e56;
  transition: all 0.5s;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(1) {
  top: 0;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(2) {
  top: 8px;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(3) {
  top: 16px;
}

.header .header__navigation:hover .btn__nav-icon .btn__nav-bar:nth-child(1) {
  animation: navBarTopAni 0.6s;
}
.header .header__navigation:hover .btn__nav-icon .btn__nav-bar:nth-child(3) {
  animation: navBarBtmAni 0.6s;
}

.header
  .header__navigation
  .btn__nav.active
  .btn__nav-icon
  .btn__nav-bar:nth-child(1) {
  transform-origin: top left;
  transform: translateY(-1px) rotate(45deg);
}
.header
  .header__navigation
  .btn__nav.active
  .btn__nav-icon
  .btn__nav-bar:nth-child(2) {
  opacity: 0;
}
.header
  .header__navigation
  .btn__nav.active
  .btn__nav-icon
  .btn__nav-bar:nth-child(3) {
  transform-origin: bottom left;
  transform: translateY(1px) rotate(-45deg);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
}
.footer .footer__links {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.footer .footer__links li {
  padding-right: 16px;
}
.footer .footer__copyright {
  font-size: 0.8rem;
  opacity: 0.5;
}

/* section common */
#section {
  height: 100vh;
  width: 100%;
  overflow: auto;
  color: #383e56;
  scroll-snap-type: y mandatory;
}

#section article {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 24px;
  scroll-snap-align: start;
}

/* greetings */
#section article.section__greetings {
  padding-left: calc(32vw + 24px);
}

.section__greetings .section__greetings-list .section__greetings-clock {
	font-size: 1.6em;
	margin-left: -194px;
	color: #eedad1;
}
.section__greetings .section__greetings-list .section__greetings-msg {
  font-size: 6rem;
  font-family: 'Courgette';
}
.section__greetings .section__greetings-list .section__greetings-msg p {
  display: none;
  margin-left: -242px;
  letter-spacing: -2px;
}
.section__greetings .section__greetings-list .section__greetings-msg p span {
  color: #eedad1;
}
.section__greetings .section__greetings-list .section__greetings-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* skills */
#section article.section__skills {
  padding-left: calc(32vw + 24px);
}
.section__skills .section__skills-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section__skills .section__skills-group {
  width: 45%;
}
.section__skills .section__skills-group:last-child {
  margin-left: 5%;
}
.section__skills .section__skills-group .skills__title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Open Sans';
  margin-bottom: 0.5rem;
}
.section__skills .section__skills-group .skills__ability {
  position: relative;
  padding-bottom: 28px;
}
.section__skills .section__skills-group .skills__ability .skills__ability-bars {
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 10px;
  background-color: #eedad1;
}

.section__skills
  .section__skills-group
  .skills__ability
  .skills__ability-bars.bars--on {
  background-color: #f69e7b;
  width: 0;
}
.section__skills.active
  .skills__list-items.skills__list-item80
  .skills__ability
  .skills__ability-bars.bars--on {
  width: 80%;
  animation: skillsAni80 1s ease-out;
}
.section__skills.active
  .skills__list-items.skills__list-item70
  .skills__ability
  .skills__ability-bars.bars--on {
  width: 70%;
  animation: skillsAni70 1s ease-out;
}
.section__skills.active
  .skills__list-items.skills__list-item60
  .skills__ability
  .skills__ability-bars.bars--on {
  width: 60%;
  animation: skillsAni60 1s ease-out;
}

.section__skills .section__skills-group .skills__ability .skills__ability-txt {
  position: absolute;
  top: 2px;
  width: 32px;
  left: 0;
  height: 20px;
  border-radius: 4px;
  background-color: #f69e7b;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__skills.active
  .skills__list-items.skills__list-item80
  .skills__ability
  .skills__ability-txt {
  left: 80%;
  animation: skillsTxtAni80 1s ease-out;
}
.section__skills.active
  .skills__list-items.skills__list-item70
  .skills__ability
  .skills__ability-txt {
  left: 70%;
  animation: skillsTxtAni70 1s ease-out;
}
.section__skills.active
  .skills__list-items.skills__list-item60
  .skills__ability
  .skills__ability-txt {
  left: 60%;
  animation: skillsTxtAni60 1s ease-out;
}

/* project */
#section .section__project {
  display: block;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.section__project .project__list-box {
  height: 100vh;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

#show-project-0.section__project .project__list-box.project0,
#show-project-1.section__project .project__list-box.project1,
#show-project-2.section__project .project__list-box.project2,
#show-project-3.section__project .project__list-box.project3,
#show-project-4.section__project .project__list-box.project4
{
  animation: fadeIn 0.6s ease;
  opacity: 1;
}
.section__project .project__list .project__list-items {
  width: 72%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.section__project .project__list .project__list-items .project__img {
  background-color: #eedad1;
  height: 60vh;
  width: 350px;
  overflow: hidden;
}
.section__project .project__list .project__list-items .project__img img {
  height: 100%;
}
.section__project
  .project__list
  .project__list-box.project-surf
  .project__img
  img {
  transform: translateX(-28%);
}
.section__project
  .project__list
  .project__list-box.project-illy
  .project__img
  img {
  transform: translateX(-20%);
}
.section__project
  .project__list
  .project__list-box.project-tripplanner
  .project__img
  img {
  transform: translateX(-15%);
}
.section__project
  .project__list
  .project__list-box.project-dive
  .project__img
  img {
  transform: translateX(-28%);
}

.section__project .project__list .project__list-items .project__desc {
  position: relative;
	margin-left: 90px;
	width: 312px;
}
/* .section__project .project__list .project__list-items .project__desc:before {
  content: '';
  position: absolute;
  left: -220px;
  top: 24px;
  height: 4px;
  width: 140px;
  background-color: #f69e7b;
} */
.section__project .project__list .project__list-title {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Open Sans';
  margin-bottom: 0.5rem;
}
.section__project
  .project__list
  .project__list-items:nth-child(2n)
  .project__list-title {
  padding-top: 0;
}
.section__project .project__list .project__list-desc {
  line-height: 1.6;
}
.section__project .project__list .project__list-lang {
  font-weight: bold;
  line-height: 1.6;
  margin: 0.5rem 0;
}
.section__project .project__list .project__list-link .link {
  font-size: 0.8rem;
  text-decoration: underline;
}
.section__project .project__list .project__list-link .link__github {
  margin-left: 8px;
  position: relative;
}
.section__project .project__list .project__list-link .link__github:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 14px;
  left: -6px;
  top: 1px;
  background: #888;
}

@media (max-width: 768px) {
	.wrapper:after{
		width: 72vw;
	}

	#section article.section__greetings,
	#section article.section__skills{
		padding-left: calc(28vw + 24px);
	}
	.section__greetings .section__greetings-list .section__greetings-clock{
		font-size: 1.2rem;
		margin-left: -164px;
	}
	.section__greetings .section__greetings-list .section__greetings-msg{
		font-size: 4rem;
	}
	.section__greetings .section__greetings-list .section__greetings-msg p{
		margin-left: -174px;
	}
	.section__greetings .section__greetings-list .section__greetings-text{
		font-size: 1.4rem;
	}

	.section__skills .section__skills-wrap{
		flex-direction: column;
	}
	.section__skills .section__skills-group{
		width: 100%;
	}
	.section__skills .section__skills-group:last-child{
		margin-left: 0;
		margin-top: 8vw;
	}

	.section__project .project__list .project__list-items{
		width: 100%;
		flex-direction: column;
	}
	.section__project .project__list .project__list-items .project__img{
		width: 100%;
		height: 40%;
		margin-top: 128px;
	}
	
	.section__project .project__list .project__list-box .project__img img{
		transform: translateX(0) !important;
	}
	
	.section__project .project__list .project__list-box.project-illy .project__img img,
	.section__project .project__list .project__list-box.project-tripplanner .project__img img{
		width: 100%;
		height: auto;
	}
	.section__project .project__list .project__list-items .project__desc{
		align-self: flex-start;
		margin-top: 24px;
		margin-left: 32vw;
	}
	.section__project .project__list .project__list-items .project__desc:before{
		background-color: transparent;
	}

	.footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer .footer__links{
		margin-bottom: 0;
	}
	.footer .footer__copyright{
		color: #383e56;
		opacity: 1;
		font-size: 0.6rem;
	}
}