@charset "UTF-8";
@import './common.css';

@keyframes navBarTopAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes navBarBtmAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

/* color
#383e56
#f69e7b
#eedad1
#d4b5b0
*/

/* skip navigation*/
#skip,
#skip a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  z-index: 1000;
}
#skip a:focus {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
  background: #f69e7b;
  color: #383e56;
  font-weight: bold;
  outline: none;
}

/* wrapper */
.wrapper {
  height: 100%;
  color: #eedad1;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 24px;
  z-index: 500;
}
.header .header__logo {
  font-family: 'Galada';
  color: #eedad1;
}
.header .header__sub-title {
  display: none;
}
.header .header__sub-title.on {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 1.7rem;
  opacity: 0.8;
}
.header .header__navigation {
  width: 26px;
  height: 18px;
  /* background: red; */
}
.header .header__navigation .btn__nav {
  width: 100%;
  height: 100%;
}
.header .header__navigation .btn__nav-icon {
  position: relative;
  display: block;
  height: 100%;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #383e56;
  transition: all 0.5s;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(1) {
  top: 0;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(2) {
  top: 8px;
}
.header .header__navigation .btn__nav-icon .btn__nav-bar:nth-child(3) {
  top: 16px;
}

.header .header__navigation:hover .btn__nav-icon .btn__nav-bar:nth-child(1) {
  animation: navBarTopAni 0.6s;
}
.header .header__navigation:hover .btn__nav-icon .btn__nav-bar:nth-child(3) {
  animation: navBarBtmAni 0.6s;
}

.header
  .header__navigation
  .btn__nav.active
  .btn__nav-icon
  .btn__nav-bar:nth-child(1) {
  transform-origin: top left;
  transform: translateY(-1px) rotate(45deg);
}
.header
  .header__navigation
  .btn__nav.active
  .btn__nav-icon
  .btn__nav-bar:nth-child(2) {
  opacity: 0;
}
.header
  .header__navigation
  .btn__nav.active
  .btn__nav-icon
  .btn__nav-bar:nth-child(3) {
  transform-origin: bottom left;
  transform: translateY(1px) rotate(-45deg);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
}
.footer .footer__links {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.footer .footer__links li {
  padding-right: 16px;
}
.footer .footer__copyright {
  font-size: 0.8rem;
  opacity: 0.5;
}

/* section common */
#section {
  position: absolute;
  right: 0;
  top: 0;
  width: 68vw;
  color: #383e56;
}

#section article {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 24px;
  background-color: #fff;
}

/* greetings */
.section__greetings .section__greetings-list .section__greetings-msg {
  font-size: 6rem;
  font-family: 'Courgette';
}
.section__greetings .section__greetings-list .section__greetings-msg p {
  display: none;
  margin-left: -242px;
  letter-spacing: -2px;
}
.section__greetings .section__greetings-list .section__greetings-msg p span {
  color: #eedad1;
}
.section__greetings .section__greetings-list .section__greetings-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* skills */
.section__skills .section__skills-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section__skills .section__skills-group {
  width: 45%;
}
.section__skills .section__skills-group:last-child {
  margin-left: 5%;
}
.section__skills .section__skills-group .skills__title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Open Sans';
  margin-bottom: 0.5rem;
}
.section__skills .section__skills-group .skills__ability {
  position: relative;
  padding-bottom: 28px;
}
.section__skills .section__skills-group .skills__ability .skills__ability-bars {
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 10px;
  background-color: #eedad1;
}

.section__skills
  .section__skills-group
  .skills__ability
  .skills__ability-bars.bars--on {
  background-color: #f69e7b;
}
.section__skills
  .skills__list-items.skills__list-html
  .skills__ability
  .skills__ability-bars.bars--on,
.section__skills
  .skills__list-items.skills__list-css
  .skills__ability
  .skills__ability-bars.bars--on,
.section__skills
  .skills__list-items.skills__list-ps
  .skills__ability
  .skills__ability-bars.bars--on,
.section__skills
  .skills__list-items.skills__list-ai
  .skills__ability
  .skills__ability-bars.bars--on {
  width: 80%;
}
.section__skills
  .skills__list-items.skills__list-sass
  .skills__ability
  .skills__ability-bars.bars--on,
.section__skills
  .skills__list-items.skills__list-jquery
  .skills__ability
  .skills__ability-bars.bars--on,
.section__skills
  .skills__list-items.skills__list-zeplin
  .skills__ability
  .skills__ability-bars.bars--on {
  width: 70%;
}
.section__skills
  .skills__list-items.skills__list-js
  .skills__ability
  .skills__ability-bars.bars--on,
.section__skills
  .skills__list-items.skills__list-xd
  .skills__ability
  .skills__ability-bars.bars--on {
  width: 60%;
}

.section__skills .section__skills-group .skills__ability .skills__ability-txt {
  position: absolute;
  top: 2px;
  width: 32px;
  height: 20px;
  border-radius: 4px;
  background-color: #f69e7b;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__skills
  .skills__list-items.skills__list-html
  .skills__ability
  .skills__ability-txt,
.section__skills
  .skills__list-items.skills__list-css
  .skills__ability
  .skills__ability-txt,
.section__skills
  .skills__list-items.skills__list-ps
  .skills__ability
  .skills__ability-txt,
.section__skills
  .skills__list-items.skills__list-ai
  .skills__ability
  .skills__ability-txt {
  left: 80%;
}
.section__skills
  .skills__list-items.skills__list-sass
  .skills__ability
  .skills__ability-txt,
.section__skills
  .skills__list-items.skills__list-jquery
  .skills__ability
  .skills__ability-txt,
.section__skills
  .skills__list-items.skills__list-zeplin
  .skills__ability
  .skills__ability-txt {
  left: 70%;
}
.section__skills
  .skills__list-items.skills__list-js
  .skills__ability
  .skills__ability-txt,
.section__skills
  .skills__list-items.skills__list-xd
  .skills__ability
  .skills__ability-txt {
  left: 60%;
}

/* project */
#section .section__project {
  display: block;
  height: 100%;
}
.section__project .project__list-box {
  position: relative;
  height: 100vh;
}
.section__project .project__list .project__list-items {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  left: calc(-36vw - 24px);
}
.section__project .project__list .project__list-items .project__img {
  background-color: #eedad1;
  height: 80vh;
  width: 36vw;
}
.section__project .project__list .project__list-items .project__desc {
  position: relative;
  margin-left: 120px;
}
.section__project .project__list .project__list-items .project__desc:before {
  content: '';
  position: absolute;
  left: -220px;
  top: 24px;
  height: 4px;
  width: 140px;
  background-color: #f69e7b;
}
.section__project .project__list .project__list-title {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Open Sans';
  margin-bottom: 0.5rem;
}
.section__project
  .project__list
  .project__list-items:nth-child(2n)
  .project__list-title {
  padding-top: 0;
}
.section__project .project__list .project__list-lang {
  font-weight: bold;
  margin: 0.5rem 0;
}
.section__project .project__list .project__list-link .link {
  font-size: 0.8rem;
  text-decoration: underline;
}
.section__project .project__list .project__list-link .link__github {
  margin-left: 8px;
  position: relative;
}
.section__project .project__list .project__list-link .link__github:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 14px;
  left: -6px;
  top: 1px;
  background: #888;
}

/* #section .section__project{
    flex-direction: column;
    justify-content: flex-start;
}
.section__project .section-title{
    align-self: flex-start;
}
.section__project .project__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 46vh;
    margin-top: 36px;
}
.section__project .project__list .project__list-items {
    border-radius: 8px;
    box-sizing: border-box;
    width: 30vw;
    height: 100%;
    padding: 16px;
    margin: 0 16px;
    box-shadow: -1px -1px 4px #e4e4e4,4px 0px 22px #bbb, inset -5px -5px 18px #ddd, inset 5px 5px 4px #fff;
}
.section__project .project__list .project__list-title {
    padding-top: 60%;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Open Sans';
    margin-bottom: .5rem;
}
.section__project .project__list .project__list-lang{
    font-weight: bold;
    margin: .5rem 0;
}
.section__project .project__list .project__list-link .link{
    font-size: .8rem;
    text-decoration: underline;
}
.section__project .project__list .project__list-link .link__github{
    margin-left: 8px;
    position: relative;
}
.section__project .project__list .project__list-link .link__github:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 14px;
    left: -6px;
    top: 1px;
    background: #888;
}
 */
